extends layout
block head
  script(src='/javascripts/calendar.js')
  script(type="text/javascript").
    var events=!{JSON.stringify(events)};
block content
  include ./nav.jade
  .container
    div#calendar
