extends layout
block head
  script(src='/javascripts/logs.js')
block content
  include ./nav.jade
  .container
    .row
      .col.s8.offset-s2
        h3= title
        ul#entries-container
          each entry in entries
            li [#{moment(entry.date).format('MM/DD hh:mm:ss A')}] #{entry.data}