extends layout
block head
  script(src='/javascripts/logs.js')
block content
  include ./nav.jade
  .container
    h1= title
    p Welcome to #{title}
    ul#entries-container
      each entry in entries
        li [#{moment(entry.date).format('MM/DD hh:mm:ss A')}] #{entry.data}