.navbar-fixed
  nav.cyan
    .nav-wrapper
      a.brand-logo.left(href='#') 6.S062 Sensors
      ul#nav-mobile.right
        li
          a(href='/') Sensors
        li
          a(href='readings') Readings
