.navbar-fixed
  nav.cyan
    .nav-wrapper
      a.brand-logo.left(href='#') Lookout
      ul#nav-mobile.right
        li
          a(href='/') Sensors
        li
          a(href='/readings') Readings
        li
          a(href='/calendar') Calendar
