.navbar-fixed
  nav.cyan
    .nav-wrapper
      a.brand-logo(href='#') C👀l 🔎
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href='/') Sensors
        li
          a(href='readings') Readings
        li
          a(href='logs') Logs
