extends layout
block head
  script(src='/javascripts/roomsensors.js')
  script(type="text/javascript").
    var roomsensors=!{JSON.stringify(sensors)};
block content
  include ./nav.jade
  .container
    ul.collection#sensors-container
