extends layout
block head
  script(src='https://cdn.socket.io/socket.io-1.4.5.js')
  script(src='/javascripts/socketUtil.js')
block content
  h1= title
  ul#sensors-container
    each sensor in sensors
      li= sensor
