body {
  font: 14px "Roboto", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#entries-container {
    font-family: "Courier", monospace;
}

.notes {
    padding-left: 20px;
    font-family: "Courier";
}
