<li class="collection-item avatar">
    <i class="material-icons circle orange">check</i>
    <span class="title">{{sensorID}}</span>
    <p>
        <i>{{formatDate date}}</i>
        <br>
        Motion detected
    </p>
</li>