<li class="collection-item avatar">
    <i class="material-icons circle blue">check</i>
    <span class="title">{{sensorID}}</span>
    <p>
        <i>{{formatDate date}}</i>
        <br>
        <b>Temperature:</b> {{value}}°F
    </p>
</li>