<li class="collection-item avatar">
    <i class="material-icons circle purple">check</i>
    <span class="title">{{sensorID}}</span>
    <p>
        <i>{{formatDate date}}</i>
        <br>
        <b>Humidity:</b> {{value}}%
    </p>
</li>